.main h1
{
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.main h2
{
    font-family: cursive;
    margin: 30px;
}

.main p
{
    margin: 30px;
    font-family: cursive;
}
.skillContainer
{
    margin: 30px;
}
.myskills
{
    background-color: rgb(63, 63, 223);
    width: 12vw;
    height: 5px;
    border: 3px solid black;
    border-radius: 4px;
}

.skillItems
{
    display: flex;
    align-items: center;
}
.hundred
{
    width: 12vw;
    background-color: red;
    
}
.t75
{
    width: 9vw;
    background-color: aqua;
}
.fifty
{
    width: 6vw;
    background-color: yellow;
}
.t25
{
    width: 4vw;
    background-color: gray;
}
.t0
{
    width: 0vw;
    background-color: green;
}