
.blogContainer h1
{
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.blogItem
{
    margin: 30px;
    font-family: cursive;
}
.blogItem h2
{
    
}

.blogItem p
{

}